{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Про Нас</title>
    <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'index' %}">Головна</a>
            <a href="{% url 'about' %}">Про Нас</a>
        </nav>
    </header>
    <main>
        <h1>Про Наш Магазин</h1>
        <section class="store-info">
            <h2>🛍️ Наша Місія</h2>
            <p>Ми спеціалізуємося на ...</p>
        </section>
        <h1>Про Розробника</h1>
        <section class="personal-info">
            <h2>💻 [Ваше Ім'я]</h2>
            <p>Цей проєкт створений у рамках ...</p>
        </section>
    </main>
</body>
</html>