{% extends 'base.html' %} 
{% load static %}

{% block title %}Каталог Товарів{% endblock %}

{% block content %}
    <section>
        <h2>✨ New Arrivals</h2>
        <div class="product-grid">
            {% for product in new_arrivals %}
                <div class="product-item">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <span>{{ product.price }} UAH</span>
                </div>
            {% empty %}
                <p>Немає нових надходжень.</p>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>🏆 Best Sellers</h2>
        <div class="product-grid">
            {% for product in best_sellers %}
                <div class="product-item best-seller">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <span>{{ product.price }} UAH</span>
                </div>
            {% empty %}
                <p>Немає хітів продажів.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}